html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: inherit;
}

/* INTRO PAGE */

.page-intro {
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.to_hide_on_mobile {
    display: none;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-text {
    width: 90%;
    margin: 0;
}

.intro-title {
    font-size: 100px;
    color: black;
    font-weight: bold;
}

.intro-subtitle {
    font-size: 50px;
    font-weight: 100;
}

.intro-right-container {
    display: none;
}

.btn-discover-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_discover {
    height: 100px;
    width: 80vw;
    background-color: #6bd181;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6bd181;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 60px;
}.btn_discover:hover {
    transition-duration: 0.4s;
    background-color: #ffffff;
    color: #6bd181;
    letter-spacing: 5px;
}






/*  */

.page-third {
    height: 100%;
    background-color: #eeeeee;
}

.contact-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px 20px;
    background-image: url("https://img2.wallspic.com/originals/7/3/2/1/5/151237-green-crop-dibond-poster-grass_family-1920x1080.jpg");
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}

.contact-left-c {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    background-color: #00000060;
    padding: 10px 10px;
}

.contact-left-title-container {
    margin: 0px;
}

.contact-left-title {
    font-size: 100px;
    color: white;
    font-weight: bold;
}

.contact-left-text-container {
    margin: 30px;
    text-align: justify;
}

.contact-left-text {
    letter-spacing: 1px;
    color: white;
    font-size: 30px;
}

.form_container {
    padding: 20px 20px;
}

.nameemail_input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
}

.comment_input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
}

.form-txt {
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    float: left;
}

.btn-send {
    padding: 18px 40px;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #00000060;
}