html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: inherit;
}

/* INTRO PAGE */

.page-intro {
    height: 65vh;
    margin-top: -20%;
    background-color: rgb(255, 255, 255);
}

.to_hide_on_mobile {
    display: none;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.intro-text {
    width: 90%;
    margin: 0;
}

.intro-title {
    font-size: 100px;
    color: black;
    font-weight: bold;
}

.intro-subtitle {
    font-size: 50px;
    font-weight: 100;
}

.intro-right-container {
    display: none;
}

.btn-discover-container {
    width: 100%;
    margin-top: -30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_discover {
    height: 100px;
    width: 80vw;
    background-color: #6bd181;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #6bd181;
    color: white;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 60px;
}.btn_discover:hover {
    transition-duration: 0.4s;
    background-color: #ffffff;
    color: #6bd181;
    letter-spacing: 5px;
}






/*  */

.page-third {
    height: 100%;
    background-color: #eeeeee;
}

.contact-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img2.wallspic.com/originals/7/3/2/1/5/151237-green-crop-dibond-poster-grass_family-1920x1080.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

.contact-left-c {
    margin-top: 140%;
    height: 45%;
    width: 100%;
    border-radius: 20px;
    background-color: #80808056;
}
.contact-right-c {
    height: 60vh;
    width: 100%;
    border-radius: 20px;
}

.contact-left-title {
    font-size: 100px;
    color: white;
    font-weight: bold;
}

.contact-left-text-container {
    margin: 30px;
    text-align: justify;
}

.contact-left-text {
    letter-spacing: 1px;
    font-size: 50px;
}

.form_container {
    padding: 100px 20px;
}

.contact-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    padding: 0px 50px;
}

.nameemail_input {
    border-radius: 30px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 75px;
    font-size: 40px;
}

.comment_input {
    border-radius: 30px;
    border: none;
    padding: 10px;
    width: 100%;
    height: 75px;
    font-size: 40px;
}

.form-txt {
    color: #9c9c9c;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}