html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: system-ui;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    background-image: url("https://images4.alphacoders.com/658/thumb-1920-658575.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* INTRO PAGE */

.page-intro {
    height: 100vh;
    width: 100%;
    background-color: #f7f7f7;
}

.nav-container { 
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-btn {
    padding: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #999999;
    font-weight: bold;
    
}.nav-btn:hover {
    transition-duration: 0.4s;
    color: #6bd181;
    cursor: pointer;
}

.btn_burger {
    display: none;
}

.intro-left-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text {
    width: 600px;
    margin-left: 10%;
}

.intro-title {
    font-size: 50px;
    color: black;
    font-weight: bold;
}

.intro-subtitle {
    font-size: 20px;
    font-weight: 100;
}

.intro-right-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-img {
    width: 750px;
    margin: 50px;
}

.intro-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 10px;
}

.contact-btn {
    border: 2px solid #6bd181;
    background-color: #6bd181;
    font-weight: bold;
    color: white;
}.animation-btn-intro-contact-over {
    animation: btncontactintro-anim 0.4s forwards;
}@keyframes btncontactintro-anim {
    from {
        background-color: #6bd181;
        color: white;
    }
    to {
        background-color: white;
        color: #6bd181;
    }
}

.animation-btn-intro-contact-unover {
    animation: btncontactintro-unanim 0.4s forwards;
}@keyframes btncontactintro-unanim {
    from {
        background-color: #ffffff;
        color: #6bd181;
    }
    to {
        background-color: #6bd181;
        color: #ffffff;
    }
}

.project-btn {
    border: 2px solid #3162cc;
    font-weight: bold;
}

.btn-discover-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  */









.page-second {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.secondpage-title-container {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.secondpage-title {
    color: #ffffff;
}

/*  */








.page-third {
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.project-text-container {
    padding: 50px;
    height: 100%;
}

.project-title {
    font-size: 50px;
    font-weight: bold;
}
.project-text {
    font-size: 20px;
}







/*  */






.page-four {
    height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 5%;
    text-align: center;
}

.contact-title-container {
    font-size: 50px;
    font-weight: bold;
}

.contact-text-container {
    margin: 30px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    font-size: 20px;
}

.nameemail_input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
}

.comment_input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
}

.form-txt {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    float: left;
}

.btn-send {
    padding: 18px 40px;
    color: #6bd181;
    border-radius: 20px;
    border: 1px solid #6bd181;
    background-color: #f7f7f7;
}

/**/

.btn-up-container {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 50px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.btn-pageup {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.animation-btn-pageup-hover {
    animation: pageup-anim 0.4s forwards;
}@keyframes pageup-anim {
    from {
        background-color: black;
        color: white;
    }
    to {
        background-color: white;
        color: black;
    }
}

.animation-btn-pageup-unhover {
    animation: pageup-unanim 0.4s forwards;
}@keyframes pageup-unanim {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: black;
        color: white;
    }
}
/**/